<app-nav></app-nav>
<router-outlet></router-outlet>
<div class="container text-center">
  <!-- second row -->
  <div class="row">
    <div class="heading mx-auto p-2 col">
      <h1><span class="badge bg-secondary">Who is More Cute?</span></h1>
    </div>
  </div>

  <!-- third row -->
  <div class="row">
    <div class="col imageBody mx-auto p-2">
      <img
        [src]="imageCATData"
        [ngStyle]="{ height: '200px' }"
        class="rounded float-start"
      />
      <button
        class="btn1 col"
        type="button"
        class="btn btn-outline-primary"
        (click)="cat()"
      >
        Cat
      </button>
    </div>
    <div class="col imageBody">
      <img
        [src]="imageDOGData"
        [ngStyle]="{ height: '200px' }"
        class="rounded float-end"
      />
      <button
        class="btn2 col"
        type="button"
        class="btn btn-outline-info"
        (click)="dog()"
      >
        Dog
      </button>
    </div>
  </div>

  <!-- fifth row -->
  <div class="row">
    <div class="col">
      <img
        [src]="selectedImage"
        [ngStyle]="{ height: '200px' }"
        class="rounded float-start"
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
